<h1>Use these numbers to win the lottery!!</h1>
<h2><center>Your randomly generated numbers for today are:</h2>
<h1><center><%= @lotto1 %>,<%= @lotto2 %>,<%= @lotto3 %>,<%= @lotto4 %>,<%= @lotto5 %>,<%= @lotto6 %></center></h1>

<h6>Disclaimer: We in no way guarantee you will win the lottery using these numbers but your chances are just as high. Good luck!</h6>